<%# <html>   
<%# <%= javascript_include_tag('interventi %>
<%= form_with scope: :interventions, url: interventions_path, local: true, :html => {:format => "js"} do |form| %>

    <section>

        <div class="container">
            <h1>Interventions:</h1>
        </div>

        <div class="container">
            <div  class="row">            
                <div class="col-md-12">
                    <label for="selectCustomers">Customer Select</label>
                        <select class="form-control pointer" name="selectCustomers" id="selectCustomers" style="font-size:100%" >
                            <option id="nothing" value="">---Select---</option>

                        </select>
                </div>  
            </div>
            <div  class="row">            
                <div class="col-md-12" id="selectBuilding-show" style="display:none">
                    <label for="selectBuilding">Chosen Customer, Building Select</label>
                        <select class="form-control pointer" name="selectBuilding" id="selectBuilding" style="font-size:100%">
                        </select>
                </div> 
            </div>
            <div  class="row">                 
                <div class="col-md-12" id="selectBattery-show" style="display:none">
                    <label for="selectBattery">Chosen Building, Battery Select</label>
                        <select class="form-control pointer" name="selectBattery" id="selectBattery" style="font-size:100%">
                        </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="selectColumn-show" style="display:none">
                    <label for="selectColumn">Chosen Battery, Column Select</label>
                        <select class="form-control pointer" name="selectColumn" id="selectColumn" style="font-size:100%">
                        </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="selectElevator-show" style="display:none">
                    <label for="selectElevator">Chosen Column, Lift Select</label>
                        <select class="form-control pointer" name="selectElevator" id="selectElevator" style="font-size:100%">
                        </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="selectEmployee">Employee Select</label>
                        <select class="form-control pointer" name="selectEmployee" id="selectEmployee" style="font-size:100%">
                            <option id="nothing" value="">---None---</option>
                        </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="intMessages">Description:</label>
                    <textarea required maxlength="10000" rows="8" style="font-size:100%" class="form-control" name="intMessages" id="intMessages" value="intMessages"></textarea>
                </div>                   
            </div>
            <div class="row" >
                <div class="col-md-3">
                    <%= form.submit %>
                </div>
            </div>
          

        </div>


    <section>
<%# </html> %>

<% end %>
